@keyframes auto-barra1{
  0%{
    height: 0px;
  }
  100%{
    height: 200px;
  }
}

@keyframes auto-barra2{
  0%{
    height: 0px;
  }
  100%{
    height: 250px;
  }
}

@keyframes auto-barra3{
  0%{
    height: 0px;
  }
  100%{
    height: 300px;
  }
}