/* colores  datos por mes*/
$color-datos: rgb(88, 174, 255);
/* $color-datos: rgb(255, 177, 88); */

/* Colores de barras */

$color-barra1: rgba(123, 207, 255, 0.5);
$color-barra2: rgba(82, 255, 189,0.5);
$color-barra3: rgba(1, 133, 209,0.5);



$color-barra1-h: rgba(123, 207, 255, 1);
$color-barra2-h: rgba(82, 255, 189,1);
$color-barra3-h: rgba(1, 133, 209,1);