/* Estilos generales */
@import "reset";
@import "colores";
@import "animation";
@import "counter";

#_kn1vlt7br{
   .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    .izquierda{
      display: flex;
      flex-direction: column;
      width: 600px;
      height: 600px;
      .titulo{
        font-weight: bold;
        h3{text-transform: uppercase;}
      }
      .grafico-anual{
        img{
           width: 600px;
        }
      }

      /* Lista de meses MJJASONDEFMAM */
      .meses{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
       
        /* Inicio lista de meses con sus hover */
        .may22{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
           }
        }
        .may22:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
          .datos{
            visibility: visible;
          }
        }

        .jun22{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .jun22:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
          .datos{
            visibility: visible;
          }
        }
        .jul22{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .jul22:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
        .datos{
          visibility: visible;
          }
        }
        .ago22{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .ago22:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
        .datos{
          visibility: visible;
          }
        }
        .sep22{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .sep22:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
        .datos{
          visibility: visible;
          }
        }
        .oct22{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .oct22:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
        .datos{
          visibility: visible;
          }
        }
        .nov22{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .nov22:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
        .datos{
          visibility: visible;
          }
        }
        .dic22{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .dic22:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
        .datos{
          visibility: visible;
          }
        }
        .ene23{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .ene23:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
        .datos{
          visibility: visible;
          }
        }
        .feb23{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .feb23:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
          .datos{
            visibility: visible;
          }
        }
        .mar23{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .mar23:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
        .datos{
          visibility: visible;
          }
        }
        .abr23{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .abr23:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
        .datos{
          visibility: visible;
          }
        }
        .may23{
          .datos{
            visibility: hidden;
            position: fixed;
            justify-self: center;
            background-color: $color-datos;
            padding: 5px;
            border-radius: 10%;
            margin-left: -12px;
            margin-top: -70px;
          }
        }
        .may23:hover{
          background-color: $color-datos;
          padding: 0 15px;
          margin: 0 -15px;
        .datos{
          visibility: visible;
          }
        }
      

        /* FIN lista de meses con sus hover */





      }
    }
    .derecha{

      display: flex;
      flex-direction: column;
      height: 600px;
      .titulo-sectores{
       text-transform: uppercase;
       h3{
        font-size: medium;
       }
      }
      .sectores{
        font-size: small;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        align-items: end;
        text-align: center;
        font-weight: bolder;
        line-height: 1px;

      }
      .barras{
        display: flex;
        flex-direction: row;

        gap: 20px;
        
        align-items: flex-end;
        justify-content: center;
        height: 300px;
        
        
        .barra1{
          animation: auto-barra1;
          
          animation-timing-function: ease-out;
          animation-duration: 2s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          width: 50px;
          background-color: $color-barra1;
        }
        .barra2{
          
          width: 50px;
          background-color: rgba(82, 255, 189,0.5);
          animation: auto-barra2;
          animation-timing-function: ease-out;
          animation-duration: 2s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        .barra3{
          
          width: 50px;
          background-color: $color-barra3;
          animation: auto-barra3;
          
          animation-timing-function: ease-out;
          animation-duration: 2s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        .barra1:hover{
          transition: 700ms;
          background-color: $color-barra1-h;
        }
        .barra2:hover{
          transition: 700ms;
          background-color: $color-barra2-h;
        }
        .barra3:hover{
          transition: 700ms;
          background-color: $color-barra3-h;
        }
  

      }
      .datos-barras{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        font-weight: bold;
        div{display: flex;
          flex-direction: row;
        }
      }
    }
   } 

}
/* Estilos para mobile */
@media (max-width: 767px) {
   #_kn1vlt7br{
    .container{
      display: flex;
      flex-direction: column;
      .izquierda{
        display: none;
      }
    }
  } 
}
/* Estilos solo para Desktop */
@media (min-width: 767px){
  /* #_kn1vlt7br{
  } */
}
