/* Estilos generales */
@import "animation";
@import "counter";

#_kn1vlt7br{
   .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    .izquierda{
      display: flex;
      flex-direction: column;
      width: 800px;
      .titulo{
        font-weight: bold;
        h3{text-transform: uppercase;}
      }
      .grafico-anual{
        img{
           width: auto;
        }
      }

      /* Lista de meses MJJASONDEFMAM */
      .meses{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;

        /* Inicio lista de meses con sus hover */
        .may22{
          .datos{
            opacity: 0;
            background-color: rgb(88, 174, 255);
            padding: 15px;
            border-radius: 10%;
            transition: 1s;
          }
        }
        .may22:hover{
          .datos{
            opacity: 100;
          }
        }
      /*   .may22{
          .datos{
            position:absolute;
            top: 280px;
            left: 106px;
            opacity: 0;
            background-color: rgb(88, 174, 255);
            padding: 15px;
            border-radius: 10%;
            transition: 1s;
          }
        }
        .may22:hover{
          .datos{
            opacity: 100;
          }
        } */
        .jun22{
          .datos{
            position:absolute;
            top: 320px;
            left: 170px;
            opacity: 0;
            background-color: rgb(88, 174, 255);
            padding: 15px;
            border-radius: 10%;
            transition: 1s;
          }
        }
        .jun22:hover{
          .datos{
            opacity: 100;
          }
        }

        .jul22{
          .datos{
            position:absolute;
            top: 300px;
            left: 231px;
            opacity: 0;
            background-color: rgb(88, 174, 255);
            padding: 15px;
            border-radius: 10%;
            transition: 1s;
          }
        }
        .jul22:hover{
          .datos{
            opacity: 100;
          }
        }


        
        .ago22{
          .datos{
            position:absolute;
            top: 290px;
            left: 291px;
            opacity: 0;
            background-color: rgb(88, 174, 255);
            padding: 15px;
            border-radius: 10%;
            transition: 1s;
          }
        }
        .ago22:hover{
          .datos{
            opacity: 100;
          }
        }

        .sep22{
          .datos{
            position:absolute;
            top: 318px;
            left: 351px;
            opacity: 0;
            background-color: rgb(88, 174, 255);
            padding: 15px;
            border-radius: 10%;
            transition: 1s;
          }
        }
        .sep22:hover{
          .datos{
            opacity: 100;
          }
        }

        .oct22{
          .datos{
            position:absolute;
            top: 280px;
            left: 410px;
            opacity: 0;
            background-color: rgb(88, 174, 255);
            padding: 15px;
            border-radius: 10%;
            transition: 1s;
          }
        }
        .oct22:hover{
          .datos{
            opacity: 100;
          }
        }

        /* FIN lista de meses con sus hover */





      }
    }
    .derecha{
      display: grid;
      grid-template-rows: 1fr 2fr 1fr;
      .titulo-sectores{
       text-transform: uppercase;
      }
      .barras{
        display: flex;
        flex-direction: row;
        gap: 20px;
        
        align-items: flex-end;
        justify-content: center;
        height: 436px;
        background-color: rgba(247, 244, 244, 0.589);
        .barra1{
          animation: auto-barra1;
          
          animation-timing-function: ease-out;
          animation-duration: 2s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          width: 50px;
          background-color: rgba(123, 207, 255, 0.5);
        }
        .barra2{
          
          width: 50px;
          background-color: rgba(82, 255, 189,0.5);
          animation: auto-barra2;
          animation-timing-function: ease-out;
          animation-duration: 2s;
/*           animation-delay: 1s;
 */          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        .barra3{
          
          width: 50px;
          background-color: rgba(1, 133, 209,0.5);
          animation: auto-barra3;
          
          animation-timing-function: ease-out;
          animation-duration: 2s;
/*           animation-delay: 1s;
 */          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        .barra1:hover{
          background-color: rgba(123, 207, 255, 1);
        }
        .barra2:hover{
          background-color: rgba(82, 255, 189, 1);
        }
        .barra3:hover{
          background-color: rgba(1, 133, 209, 1);
        }
      }
      .datos-barras{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        font-weight: bold;
        div{display: flex;
          flex-direction: row;
        }
      }
    }
   } 

}
/* Estilos para mobile */
@media (max-width: 767px) {
 /*  #_kn1vlt7br{
  } */
}
/* Estilos solo para Desktop */
@media (min-width: 767px){
  /* #_kn1vlt7br{
  } */
}
